@import "components/main/header";
@import "components/main/home";
@import "components/main/sidebar";
@import "components/main/footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
