@import "../abstract/variables";

.movieList {
  margin-left: 1rem;
  &__items {
    list-style-type: none;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: $color3-light;
    }
  }
}
