header {
  grid-column: 1/ -1;
  border: solid black 1px;
  text-align: center;
  font-size: 2rem; }

.main {
  grid-column: 1 / -2;
  border: solid black 1px;
  display: grid;
  grid-template-columns: repeat(2 1fr); }
  .main__heading {
    grid-column: 1/3;
    color: red;
    text-align: center; }
  .main__left {
    grid-column: 1/2; }
  .main__right {
    grid-column: 2/3; }

h2 {
  font-size: 1.5rem; }

#title {
  font-size: 2rem; }

.details {
  margin: 0 1rem 0 1rem;
  list-style-type: none; }
  .details__title {
    grid-row: 1/3;
    background-color: tan;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .details__title--img {
      border: solid white 2px;
      grid-column: 1/2;
      grid-row: 1/3; }
    .details__title a {
      text-decoration: none;
      color: black;
      flex-grow: 3; }
      .details__title a :hover {
        color: #777; }

.heading {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex; }
  .heading--num {
    margin-right: 5px;
    font-size: 2rem; }

.dgyr {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex; }
  .dgyr h4 {
    font-size: 1.5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
